<!-- <app-cell #cell1 (click)="cell1.cellClicked()" [limit]="3" color="yellow" ></app-cell> -->
<!-- <div class="col-sm-4 my-auto" style="text-align: center;">
  ---------
</div> -->
<!-- <ng-template appPlaceholder ></ng-template>
<ng-template appPlaceholder #gameBoard ></ng-template> -->
<!-- <div class="container">
  <ng-container *ngFor="let item of cellSetupService.squarelength | range">
    <div class="row">
      <ng-container *ngFor="let item of cellSetupService.squarelength | range">
        <div class="col-sm-1">
          <app-cell></app-cell>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div> -->
<div class="sidebar">
  <a routerLink="/start"><i class="fa fa-fw fa-wrench"></i> Start</a>
  <a routerLink="/game"><i class="fa fa-fw fa-gamepad"></i> Game</a>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
